<link href="/stylesheets/jquery.dataTables.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/stylesheets/dataTables.tableTools.css">
<link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/style.css" rel="stylesheet" type="text/css">

<script type="text/javascript" src="/javascripts/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/javascripts/dataTables.tableTools.js"></script>
<script type="text/javascript" src="/javascripts/dataTables.editor.js"></script>
<script type="text/javascript">
  $(document).ready(function() { 
    var table = $('#main_table').DataTable({
      sDom: 'T<"clear ">lfrtip',
      paging: false,
      scrollY: 400,
      columnDefs: [
        {
          "targets": [ 0 ],
          "visible": false,
          "searchable": false
        }
      ],
      ajax: {
        url: "/rows",              
        type: "GET",
        dataSrc: ""
      },
      columns: [
        { data: '_id' },
        { data: 'login' },
        { data: 'password' },
        { data: 'ip' },
        { data: 'status' },
        { data: 'end' }
      ],
      order: [ 1, 'asc' ],
      tableTools: {
        sRowSelect: "single",
        sRowSelector: 'tr',
        aButtons: []
      }
    });

    $('#myModal').on('show.bs.modal', function (event) {
      var aData = oTT.fnGetSelectedData();
      var button = $(event.relatedTarget); // Button that triggered the modal
      var type = button.data('whatever'); // Extract info from data-* attributes
      var modal = $(this);

      switch (type) {
        case 'create':

        break;
        case 'edit':

        break;
        case 'delete':
          if (aData.length > 0) {
            modal.find('.modal-body').text('Братюнь, ты выделил одну запись. Уверен что нужно ее удалить?');        
            modal.find('.modal-footer').html('<button type="button" class="btn btn-default" data-dismiss="modal">Не, чет я погорячился.</button><button id="btn-delete" type="button" class="btn btn-primary" data-id="' + aData[0]._id + '">Агась, удаляем к чертям!</button>');
          } else {
            modal.find('.modal-body').text('И что тут удалять? Ничего не выделено...');
            modal.find('.modal-footer').html('<button type="button" class="btn btn-default" data-dismiss="modal">Ясно, понятно.</button>');
          }
          $('#btn-delete').click(function (event) {
            var aData = oTT.fnGetSelectedData();
            var id = $(this).data("id");            
            modal.modal('hide');
            $.ajax({
              url: "/rows",
              method: "DELETE",
              data: {_id: id}
            }).done(function() {
              table.ajax.reload();
            });
          });      
        break;
      }                 
    });

    var oTT = TableTools.fnGetInstance('main_table');
  }); 
</script>
<div class="container">
  <div class="row">
    <div class="col-xs-12 header-black">
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" data-whatever="create">Создать</button>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" data-whatever="edit">Редактировать</button>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" data-whatever="delete">Удалить</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 border-black">
      <table id="main_table" class="table table-striped table-hover table-condensed">
        <thead> 
          <tr> 
            <th>ID</th> 
            <th>Login</th> 
            <th>Password</th> 
            <th>IP</th> 
            <th>Status</th> 
            <th>End</th> 
          </tr> 
        </thead>  
      </table>
    </div>
  </div>
</div>

<!-- Modals -->

<!-- Creat -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Edite -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Delete -->
<div class="modal fade" id="myModalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Удаление</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">       
      </div>
    </div>
  </div>
</div>