<link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="javascripts/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
<table class="table">
<% rows.forEach(function(row){ %>
	<%- include('row/show', {row: row}); %>
<% }); %>
</table>